
/* basic browser reset using the universal selector: */
*,
*::before,
*::after  {
   margin: 0;
   padding: 0;
   box-sizing: inherit; /*inherits from body{}*/
}

/* 
PROJECT SETTINGS:
default browser font is 16px
we want to set it to 10px to easy calculate REMs
percentage is best for accessibility (ie. when zooming in)
so 10/16 = 0.625  (10px = 1rem) 
*/
html {
   font-size: 62.5%;    // 1rem

   // @include respond(phone) {
   //    font-size: 50%;
   // }                          -- same as tab-por
   
   @include respond(tab-land) {  // ? width < 1200
      font-size: 56.25%;   // 1rem = 9px, 9/16=0.5625
   }
   
   @include respond(tab-port) {   // ? width < 900    
      font-size: 50%;   // 1rem = 8px, 8/16=0.5
   }

   @include respond(big-desktop) {
      font-size: 75%;   // 1rem - 12px, 12/16=0.75
   }
}

body {
   box-sizing: border-box; /* makes borders, paddings NOT add to total width, height */
   padding: 3rem;

   @include respond(tab-port) {
      padding: 0;
   }
 }